<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">编辑模板</h4>
			<div class="alert alert-success alert-dismissible text-center" style="opacity: 0;transition: opacity 1s;margin:0;padding: 10px;" role="alert">role="alert"</div>
		</div>
		<div class="modal-body">
			<input type="hidden" fmName="id" value="<{$row.m_id}>">
	  		<div class="form-group">
		    	<label for="tplName" class="col-sm-3 control-label">模板名</label>
		    	<div class="col-sm-9">
		      		<input type="text" fmName="name" class="form-control" id="tplName" value="<{$row.m_name}>">
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label for="tplName" class="col-sm-3 control-label">目录名</label>
		    	<div class="col-sm-9">
		      		<input type="text" fmName="dir" class="form-control" id="tplName" value="<{$row.m_dir}>">
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label for="tplName" class="col-sm-3 control-label">演示链接</label>
		    	<div class="col-sm-9">
		      		<input type="text" fmName="url" class="form-control" id="tplName" value="<{$row.m_url}>">
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label for="inputTemplate" class="col-sm-3 control-label">模板缩略图</label>
		    	<div class="col-sm-9">
		    		<p><input url="<{:U('Template/upload')}>" onchange="fnUpload(this,'#tplThumb')" name="photo" type="file" id="inputTemplate" /></p>
		      		<img style="max-width: 400px;" fmName="thumb" id="tplThumb" src="<{$row.m_thumb}>" />
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label for="inputTemplate" class="col-sm-3 control-label">所属分类</label>
		    	<div class="col-sm-9">
		    		<p>
		    			<foreach name="type" item="vo">
		    			<php>
		    				if($row['m_type'] == $vo['id']){
								echo $vo['name'];
		    				}
		    			</php>
		    			</foreach>
		    		</p>
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label for="adminPwds" class="col-sm-3 control-label">选择分类</label>
		    	<div id="_type" class="col-sm-9">
			    	<select fmName="type" class="form-control">
			    		<foreach name="type" item="vo">
			    			<php>
			    				if($vo['pid'] == 0){
			    					echo '<option dir="'.$vo['path'].'" value="'.$vo['id'].'">'.$vo['name'].'</option>';
			    				}
			    			</php>
			    		</foreach>
			    	</select>
		    	</div>
		  	</div>
		</div>
  	<div class="modal-footer">
    	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    	<button type="submit" class="btn btn-primary">提交</button>
  	</div>
</div>
<script type="text/javascript">
	$('#_type').on('change', 'select', function(e){
		var str = '';
		var dom = null;
		var $this = $(this);
		
		$.get('<{:U("Admin/Tpltype/pid")}>', {id:$(this).val()}, function(data){
			$this.nextAll('select').remove();
			if(!data.status) return false;
			$this.removeAttr('fmName');
			$('#_type').append('<select fmName="type" class="form-control"></select>');
			$.each(data.arr, function(key, value){
				str += '<option value="'+value.id+'">'+value.name+'</option>';
			});
			$('#_type').find('select[fmName=type]').html(str);
		});
	});
</script>