<div class="top">
	<p><i class="icon-list"></i><span>商品列表</span></p>
	<ul>
		<li data-toggle="modal" style="cursor: pointer;" onclick="fnEmptyInput(inputGoods,true)" data-target="#myGoods-add">
			<i class="icon-plus-sign-alt"></i>
		</li>
	</ul>
</div>
<div class="admins">
	<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>商品名</th>
			<th>商品图</th>
			<th>市场价</th>
			<th>会员价</th>
			<th>类型</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
		
		<foreach name="list" item="vo">
			<php>
				$vo['status']= $vo['status'] == 2 ? 
					array('color'=>'style="color:red"','name'=>'下架') :
					array('color'=>'','name'=>'上架');
			</php>
			<tr>
				<td><{$vo.id}></td>
				<td><{$vo.name}></td>
				<td><img style="max-width: 100px;" src="<{$vo.thumbnail}>" /></td>
				<td><{$vo.price}></td>
				<td><{$vo.price_vip}></td>
				<td><{$vo.type}></td>
				<td <{$vo.status.color}> ><{$vo.status.name}></td>
				<td>
					<a onclick="return fnDetail( this.href, '#fmGoods' )" href="<php>echo U('Admin/Goods/detail/id/'.$vo['id']);</php>" data-toggle="modal" data-target="#myGoods">编辑</a>
					<a onclick="return del( this.href )" href="<php>echo U('Admin/Goods/del/id/'.$vo['id']);</php>">删除</a>
				</td>
			</tr>
		</foreach>
	</table>
	<nav class="page">
		<ul class="pagination">
			<{$show}>
		</ul>
	</nav>
</div>