<div class="top">
	<p><i class="icon-list"></i><span>用户列表</span></p>
	<ul>
		<li><a href="#">Home</a></li>
	</ul>
</div>
<div class="admins">
	<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>用户名</th>
			<th>用户等级</th>
			<th>E-mail</th>
			<th>注册时间</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
		<foreach name="list" item="vo">
			<php>
				$vo['status']= $vo['status'] == 2 ? 
					array('color'=>'style="color:red"','name'=>'异常') :
					array('color'=>'','name'=>'正常');
				$vo['level']= $vo['level'] == 2 ? 
					array('color'=>'style="color:red"','name'=>'VIP') :
					array('color'=>'','name'=>'普通');
			</php>
			<tr>
				<td><{$vo.id}></td>
				<td><{$vo.name}></td>
				<td <{$vo.level.color}> ><{$vo.level.name}></td>
				<td><{$vo.email}></td>
				<td><{$vo.create_at}></td>
				<td <{$vo.status.color}> ><{$vo.status.name}></td>
				<td>
					<a onclick="return fnDetail( this.href, '#fmUser' )" href="<php>echo U('Admin/Users/detail/id/'.$vo['id']);</php>" data-toggle="modal" data-target="#myUser">查看</a>
					<a onclick="return del( this.href )" href="<php>echo U('Admin/Users/del/id/'.$vo['id']);</php>">删除</a>
				</td>
			</tr>
		</foreach>
	</table>
	<nav class="page">
		<ul class="pagination">
			<{$show}>
		</ul>
	</nav>
</div>