<div class="top">
	<p><i class="icon-list"></i><span>分类列表</span></p>
	<ul>
		<li data-toggle="modal" style="cursor: pointer;" onclick="fnEdit('<{:U('Admin/Tpltype/add')}>','#fmTpl-typeAdd')" data-target="#myTpl-typeAdd">
			<i class="icon-plus-sign-alt"></i>
		</li>
	</ul>
</div>
<div class="users">
	<ul class="_table">
		<li>
			<p style="width: 5%">qwe</p>
			<p>ID</p>
			<p>分类名</p>
			<p>分类路径</p>
			<p>添加时间</p>
			<p>操作</p>
		</li>
		<foreach name="list" item="vo">
			<li>
				<ul>
					<li>
						<span style="width: 5%" onclick="loadData(this)" action="<{$vo.id}>">+</span>
						<span><{$vo.id}></span>
						<span><{$vo.name}></span>
						<span><{$vo.path}></span>
						<span><{$vo.addtime}></span>
						<span>
							<a onclick="return fnEdit( this.href, '#fmTpl-typeEdit' )" href="<php>echo U('Admin/Tpltype/detail/id/'.$vo['id']);</php>" data-toggle="modal" data-target="#myTpl-typeEdit">编辑</a>/
							<a onclick="return del( this.href )" href="<php>echo U('Admin/Tpltype/del/id/'.$vo['id']);</php>">删除</a>
						</span>
					</li>
					<li><ul id="a<{$vo.id}>"></ul></li>
				</ul>
			</li>
		</foreach>
	</ul>
	<table style="display: none;" width="100%" class="table table-hover">
		<tr>
			<td colspan="6">
				<table width="100%">
					<tr>
						<th width="10%"></th>
						<th width="15%">ID</th>
						<th width="15%">分类名</th>
						<th width="15%">分类路径</th>
						<th width="15%">添加时间</th>
						<th width="15%">操作</th>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="6">
				<table width="100%" class="table table-hover">
					<foreach name="list" item="vo">
						<tr>
							<td width="10%" onclick="loadData(this)" class="aid" action="<{$vo.id}>" >+</td>
							<td width="15%"><{$vo.id}></td>
							<td width="15%"><{$vo.name}></td>
							<td width="15%"><{$vo.path}></td>
							<td width="15%"><{$vo.addtime}></td>
							<td width="15%">
								<a onclick="return fnEdit( this.href, '#fmTpl-typeEdit' )" href="<php>echo U('Admin/Tpltype/detail/id/'.$vo['id']);</php>" data-toggle="modal" data-target="#myTpl-typeEdit">编辑</a>/
								<a onclick="return del( this.href )" href="<php>echo U('Admin/Tpltype/del/id/'.$vo['id']);</php>">删除</a>
							</td>
						</tr>
						<tr>
							<td colspan="6"><table width="100%" class="table table-hover"><tbody id="a<{$vo.id}>"></tbody></table></td>
						</tr>
					</foreach>
				</table>
			</td>
		</tr>
		
	</table>
	<nav>
		<ul class="pagination">
			<{$show}>
		</ul>
	</nav>
</div>
<style type="text/css">
	ul._table {
	    width: 80%;
	    margin: 5% auto;
	    border: 1px solid #ffffff;
	    box-shadow: 0 0 2px #020202;
	    padding: 0;
	    text-align: center;
	}
	._table li {
	    border-bottom: 1px solid #ababab;
	}
	.table ul{
		padding: 0;
		margin: 0;
	}
	ul._table p, ul._table span {
	    display: inline-block;
	    width: 19%;
	    margin: 0;
	    padding: 10px 0;
	    margin-right: -4px;
	}
	ul._table p{
		font-weight: bold;
	}
</style>
<script type="text/javascript">
	function loadData(t){
		var id = $(t).attr('action');
		if( id ){
			$.get("<{:U('Tpltype/Son')}>", {'id':id}, function(data){
				if(data.status){
					$(t).attr('action', 0);
					$('#a'+id).html(data.arr);
				}
			});
		}
	}
</script>